<% provide(:title, 'profile') %>
<div class="top container">
  <div class="image">
    <div class="icon_image" style="background: url('<%= image_url(current_user) %>'); background-size: cover; background-position: 50%;"></div>
    <div class="user">
      <div class="name">
        <a href="#">
          <%= current_user.name %>
        </a>
      </div>
      <div class="listing">
        <%= link_to users_products_path do %>出品数：<%= current_user.products.count %>件<% end %>
      </div>
      <div class="comment">
        <p><%= current_user.profile %></p>
      </div>
    </div>
  </div>
  
  <div class="mypage">
    <%= render partial: "users/mypage" %>
  </div>
</div>